:root {
	/*  */
	--main-font: "Roboto", sans-serif;
	--secondary-font: "Raleway", sans-serif;

	/* text colors */
	--main-txt-cl: #212121;
	--accent-txt-cl: #2196f3;
	--white-txt-cl: #ffffff;
	--gray-txt-cl: #757575;

	/* bg colors */
	--white-bg-cl: #ffffff;
	--dark-bg-cl: #2f303a;
	--light-bg-cl: #f5f4fa;
	--cards-bg-cl: #eeeeee;
}
/* body */
body {
	font-family: var(--main-font);
	color: var(--main-txt-cl);
	background-color: var(--white-bg-cl);
	font-size: 14px;
	letter-spacing: 0.03em;
}


/* reset styles */
.link {
	text-decoration: none;
	color: currentColor;
}
.list {
	list-style: none;
}
/* base styles */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.header-link-current {
	color: var(--accent-txt-cl);
}
.btn:hover,
.btn:focus {
	background-color: #188ce8;
}
.btn {
	cursor: pointer;
	background-color: var(--accent-txt-cl);
	font-family: var(--main-font);
}
/* шапка */
/* logo */
.logo {
	font-family: var(--secondary-font);
	font-weight: 700;
	font-size: 26px;
	line-height: calc(31 / 26);
	/* identical to box height */
	letter-spacing: 0.03em;
	color:var(--accent-txt-cl);
}
.logo-light {
	font-family: var(--secondary-font);
	font-weight: 700;
	font-size: 26px;
	line-height: calc(31 / 26);
	/* identical to box height */
	letter-spacing: 0.03em;
	color: #000000;
}
.color {
	color: var(--accent-txt-cl);
}
/* logo end */
/* nav */
.header-list {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color:var(--main-txt-cl);
}
.header-link:hover,
.header-link:focus {
	color: var(--accent-txt-cl);
}
/* nav end */
/* contacts */
.header-contacts {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color:var(--gray-txt-cl);
}
.header-contacts-link:hover,
.header-contacts-link:focus {
	color: var(--accent-txt-cl);
}
/* contacts end */
/* Hero */
.hero {
	background-color: var(--dark-bg-cl);
}
.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: calc(60 / 44);
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #ffffff;
}
.hero-btn {
	font-family: var(--main-font);
	background: var(--accent-txt-cl);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.06em;
	color: var(--white-txt-cl);
}
/* hero end */
/* peculiarities */
.peculiarities-h {
	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--main-txt-cl);
}
.peculiarities-p {
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: var(--gray-txt-cl);
}
/* peculiarities end */
/* examples */
.examples-title {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-txt-cl);
}
/* examples end */
/* team */
.team {
	background-color: var(--light-bg-cl);
}
.team-item {
	background-color: var(--cards-bg-cl);
}
.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-txt-cl);
}
.team-name {
	font-weight: 500;
	font-size: 16px;
	line-height: calc(19 / 16);
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-txt-cl);
}
.team-proffeison {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--gray-txt-cl);
}
/* team end */
/* footer */
.footer {
	background-color: var(--dark-bg-cl);
}
.logo-dark {
	color: var(--white-txt-cl);
}
.adsress-link {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: var(--white-txt-cl);
}
.contacts-link {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}
.adsress-link:hover,
.adsress-link:focus {
	color: var(--accent-txt-cl);
}
.contacts-link:hover,
.contacts-link:focus {
	color: var(--white-txt-cl);
}
/* footer end */
/* portfolio */
/* filtr */
.btn-filtr {
	background-color: var(--light-bg-cl);
	border-radius: 4px;
	cursor: pointer;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: calc(26 / 16);
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-txt-cl);
}
.btn-filtr:hover,
.btn-filtr:focus {
	background-color: var(--accent-txt-cl);
	color: var(--white-txt-cl);
}
/* filtr end */
.portfolio-item {
	cursor: pointer;
}
.portfolio-name {
	font-size: 18px;
	line-height: calc(36 / 18);
	letter-spacing: 0.06em;
	color:var(--main-txt-cl);
}
.portfolio-text {
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.03em;
	color: var(--gray-txt-cl);
}

/* portfolio end */
